.header-menu__burger{
    padding: 50px 20px 50px 20px;
    flex-direction: column;
    row-gap: 30px;
    position: absolute;
    right: 0px;
    
    background:#D9FADD;
    width: 350px;
    height: auto;
    border-radius: 30px;
    z-index: 7;
    top: -690px;
    display: none;
    opacity: 0;
    transition: 1s all ease;
    .header-logo{
        width: 168px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        
        .menu__link{
            font-size: 1.4em;
            padding: 15px 0 0 0;
            text-transform: uppercase;
            // text-align: center;
        }
    }


    .header-contact{
        .contact__button{
            width:250px;
            margin-right: 50px;
            &::after{
                width: 250px;
            }
        }
    }
}
.header-logo__smartphone{
    display: none;
}
.header-burger__button{
    width: 100%;
    justify-content: flex-end;
    padding: 15px 15px 0 0;
    position:absolute;
    right: 0;
    top: 0;
    z-index: 8;
    display: none;
    cursor: pointer;
}



.burger-activate{
    opacity: 1;
    top: 0;
    transition: 1s all ease;
}


@media (max-width: 992px){

    .header-menu__burger{
        display: flex;
    }
    .header-burger__button{
        display: flex;
    }
    
    .header{
        display: none;
    }
    .header-logo__smartphone{
        display: block;
        padding: 15px 0 0 30px;
        position: absolute;
    }
}