.clients{
   
    background: #D9FADD;
    position: relative;
    
    &_body {
        max-width:1440px;
        margin: 0 auto;
    }
    &-content{
    padding: 150px 135px 100px 135px;
    display: flex;
    }
    &_info {
        width: 100%;
        
        
    }

    &_title {
        line-height: 60px;
        position: relative;
            &::after{
                content: "";
                top: 30px;
                right: 15px;
                width: 100px;
                height: 3px;
                background: #78c081;
                position: absolute;
    }
    }

    &_text {
        font-family: 'Roboto', sans-serif;
        color: #848484;
        max-width: 640px;
        margin-top: 25px;
        
    }

    &_slider-wrapper{
        width: 100%;
    }
}

.custom-shape-divider-top-1683960565 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1683960565 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 107px;
}

.custom-shape-divider-top-1683960565 .shape-fill {
    fill: #FFFFFF;
}


.clients--slider-wrapper{
    position:absolute;
    width: 900px;
    top: 200px;
    right: 0px;
    overflow: hidden;
    .clients--slider-content{
        width: 900px;
        overflow: hidden;
       
    }
    .clients--slider-items{
        display: flex;
        column-gap:30px;
    }
    .cleints-sleder_item{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 0;
        right: 0;
        .cleints-sleder_item-image{
            width: 300px;
            height: 115px;
            background: #fff; 
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
        }
    }

}
.clients--slider-buttons {
    position: relative;
    left: 20px;
    margin-top: 46px;
    margin-bottom: 25px;
    .clients--slider-buttons__items{
        display: flex;
        column-gap:37px;
        
    .clients--slider__prev{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        span{
            display: inline-block;
            height: 3px;
            width: 15px;
            border-radius: 40px;
            position: absolute;
            top:16px;
            left: 7px;

            &:first-child{
                transform: translateX(4.2px) rotate(-40deg) translateY(-6px);
            }
            &:last-child{
                transform: translateX(4px) rotate(40deg) translateY(4.8px);
            }
        }

    }
    .clients--slider__next{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transform: rotate(-180deg);

        span{
            display: inline-block;
            height: 3px;
            width: 15px;
            border-radius: 40px;
            position: absolute;
            top:16px;
            left: 7px;
            

            &:first-child{
                transform: translateX(4.2px) rotate(-40deg) translateY(-6px);
            }
            &:last-child{
                transform: translateX(4px) rotate(40deg) translateY(4.8px);
            }
        }

    }
    }
    .clients--slider-buttons__item{
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        width: 34px;
        height: 34px;
        box-shadow: 0px 0px 0px 5px #ffffff69;
        cursor: pointer;
        transition: .1s ease all;
    }
    .nonactive{
        span{
            background: #D9FADD;
        }
    }
    .active{
        background: #5CCD6A;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.363) inset;
        &:hover{
            background: #58d667;
        }
        span{
            background: #ffffff;
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 5px #78c08254;
        
        }
    }
}