@media (max-width: 1920px){
    .clients--slider-body{
        padding-left: 200px;
    }
}

@media (max-width: 1440px){
    .clients--slider-body{
        padding-left: 250px;
    }
    .conditioning__img{
        border-bottom-left-radius: 65px 65px;
        border-top-left-radius: 65px 65px;
        top: 0;
        left: 400px;
        width: 500px;
        img{
            height: 100%;
            width: 100%;
            position: relative;
            left: -150px;
        }
    }
}

@media (max-width: 1280px){

}

// @media (max-width: 992px){

// }
// @media (max-width: 767px){

// }

// @media (max-width: 480px){

// }