@media (max-width: 1920px){
    .clients--slider-body{
        padding-left: 200px;
    }
}

@media (max-width: 1440px){
    .header-menu{
        .menu .menu__link{
            
        }
    } 
    .clients--slider-body{
        padding-left: 250px;
    }

    
    .promo {
        .promo-info{
            .promo-info__title{
                .promo-info__title-text{
                    font-size:calc(36px + (64 - 36) * ((100vw - 320px) / (1440 - 320)));
                }
            }
        }
    } 
    .promo{
        .promo-info__subtitle-text{
            .item{
                font-size:calc(18px + (22 - 18) * ((100vw - 320px) / (1440 - 320)));
            }
        }
    }  

    .promo{
        .promo-info__geo{
            font-size:calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
        }
    } 

    .promo {
        .promo-info__telephone{
            font-size:calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
        }
    }

    .title{
        font-size:calc(28px + (45 - 28) * ((100vw - 320px) / (1440 - 320)));
    }

    .promo{
        .promo-info__subtitle-button{
            width: calc(319px + (470 - 319) * ((100vw - 320px) / (1440 - 320)));
            .subtitle-button{
                width: calc(289px + (440 - 289) * ((100vw - 320px) / (1440 - 320)));
            }
        } 
    } 
    .conditioning__img{
        border-bottom-left-radius: 65px 65px;
        border-top-left-radius: 65px 65px;
        top: 0;
        left: 400px;
        width: 500px;
        img{
            height: 100%;
            width: 100%;
            position: relative;
            left: -150px;
        }
    }

    .under-key__title{
        width: calc(320px + (900 - 320) * ((100vw - 320px) / (1440 - 320)));
        padding-right: 0;
        padding-left:calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320))); 
        margin-left: 0;
        margin-top: 0;

    }

    .services-page__body{
        .services-page__info{
            padding-top: calc(70px + (170 - 70) * ((100vw - 320px) / (1440 - 320)));
            padding-left: calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320)));
            padding-bottom: 30px;
        }
    } 






    .air-purification-form-wrapper{
        padding-left:calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320))); 
        padding-right:calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320))); 
    }

    .services-page__body {
        .services-page__title{
            :last-child{
                    &::before{
                        width: calc(130px + (245 - 130) * ((100vw - 320px) / (1440 - 320)));
                        left: calc(115px + (160 - 115) * ((100vw - 320px) / (1440 - 320)));
                        top:calc(20px + (35 - 20) * ((100vw - 320px) / (1440 - 320)));
                }
            }
            }  
    }
    
}



@media (max-width: 1400px){
    .tabs{
        .tabs-button{
            left: 50px;
        }
    } 

    .tabs-content__plug{
        left: 125px;
    }
    .tabs-content{
        left: 120px;
    }
}
@media (max-width: 1280px){
    .header-menu{
        .menu .menu__link{
            margin-left:calc(10px + (20 - 10) * ((100vw - 992px) / (1280 - 992)));
            margin-right:calc(10px + (20 - 10) * ((100vw - 992px) / (1280 - 992)));
        }
    } 
    .header{
        padding-left:calc(5px + (45 - 5) * ((100vw - 992px) / (1280 - 992)));
        padding-right:calc(5px + (45 - 5) * ((100vw - 992px) / (1280 - 992)));
    }


    .air-purification-form-wrapper{
        padding-right:calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320))); 
    }
}

@media (max-width: 992px){
    .air-purification__form{
        flex-direction: column;
        align-items: center;
    }
    .tabs .tabs-button{
        transform: rotate(90deg);
        left: calc(15px + (709 - 15) * ((100vw - 320px) / (992 - 320))); 
        top: -183px;
    }
    .conditioning__img{
        img{
            left: 0px;
        }
    }

    .air-purification-form-wrapper{
        .input-text{
            width: 100%;
        }
    }
    .services-page__body{
        flex-direction: column;
        .services-page__info{
            width: 100%;
          .services-page__text{
            width: 100%;
          }
           
        }
        .services-page__example{
            width: 100%;
        }
    }
}
@media (max-width: 767px){
    .tabs{
        .tabs-button{
            height: calc(368px + (486 - 368) * ((100vw - 320px) / (767 - 320))); ;
            .tabs-button__item{
             width: calc(172px + (233 - 172) * ((100vw - 320px) / (767 - 320))); 
             padding-left: 15px;
             padding-right: 0;
             &::before{
                 content: none;
             }
            }
         }
    }
    
}

// @media (max-width: 480px){

// }