@media (max-width: 1920px){
    .clients--slider-body{
        // padding-left: 200px;
    }
}

@media (max-width: 1440px){
    .header-menu{
        .menu .menu__link{
            
        }
    } 
    .clients--slider-body{
        // padding-left: 250px;
    }

    
    .promo {
        .promo-info{
            .promo-info__title{
                .promo-info__title-text{
                    font-size:calc(36px + (64 - 36) * ((100vw - 375px) / (1440 - 375)));
                }
            }
        }
    } 
    .promo{
        .promo-info__subtitle-text{
            .item{
                font-size:calc(18px + (22 - 18) * ((100vw - 320px) / (1440 - 320)));
            }
        }
    }  

    .promo{
        .promo-info__geo{
            font-size:calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
        }
    } 

    .promo {
        .promo-info__telephone{
            font-size:calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
        }
    }

    .title{
        font-size:calc(28px + (45 - 28) * ((100vw - 320px) / (1440 - 320)));
    }
    
    .promo{
        .promo-info__subtitle-contact{
            padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (1440 - 767)));;
        }
        .promo-info__subtitle-button{
            width: calc(319px + (470 - 319) * ((100vw - 320px) / (1440 - 320)));
            .subtitle-button{
                width: calc(289px + (440 - 289) * ((100vw - 320px) / (1440 - 320)));
            }
        } 
    } 
    .conditioning__img{
        border-bottom-left-radius: 65px 65px;
        border-top-left-radius: 65px 65px;
        top: 0;
        left: 400px;
        width: 500px;
        img{
            height: 100%;
            width: 100%;
            position: relative;
            left: -150px;
        }
    }

    .under-key__title{
        width: calc(320px + (900 - 320) * ((100vw - 320px) / (1440 - 320)));
        padding-right: 0;
        padding-left:calc(18px + (135 - 18) * ((100vw - 375px) / (1440 - 375))); 
        margin-left: 0;
        margin-top: 0;

    }

    .services-page__body{
        .services-page__info{
            padding-top: calc(70px + (170 - 70) * ((100vw - 320px) / (1440 - 320)));
            padding-left: calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320)));
            
            padding-bottom: 30px;
        }
    } 






    .air-purification-form-wrapper{
        padding-left:calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320))); 
        padding-right:calc(28px + (135 - 28) * ((100vw - 320px) / (1440 - 320))); 
    }

    .services-page__body {
        .services-page__title{
            :last-child{
                    &::before{
                        width: calc(130px + (245 - 130) * ((100vw - 320px) / (1440 - 320)));
                        left: calc(115px + (160 - 115) * ((100vw - 320px) / (1440 - 320)));
                        top:calc(20px + (35 - 20) * ((100vw - 320px) / (1440 - 320)));
                }
            }
            }  
    }


    .under-key__title::after{
        display: none;
    }
    
    .air-purification__info{
        padding-left: calc(28px + (135 - 28) * ((100vw - 375px) / (1440 - 375)));
        padding-right: calc(28px + (135 - 28) * ((100vw - 375px) / (1440 - 375)));
    }


    .air-purification__icons{
        padding-left: calc(120px + (250 - 120) * ((100vw - 992px) / (1440 - 992)));
        padding-right: calc(120px + (228 - 120) * ((100vw - 992px) / (1440 - 992)));
        justify-content: space-between;
    }

    .icon__wish::before{
        width: calc(205px + (270 - 120) * ((100vw - 992px) / (1440 - 992)));
        left: calc(-204px + (-350 - (-204)) * ((100vw - 992px) / (1440 - 992)));
        right: 0;
    }
   .icon__wish::after{
    
        width:calc(224px + (320 - 224) * ((100vw - 992px) / (1440 - 992)));
    
   }
   .icon__implementation::before{
    width:calc(224px + (314 - 224) * ((100vw - 992px) / (1440 - 992)));
   }
   .icon__implementation::after{
    left: calc(95px + (33 - 95) * ((100vw - 992px) / (1440 - 992)));
    // left: 33px;
    // left: 95px;

    width:calc(224px + (370 - 224) * ((100vw - 992px) / (1440 - 992)));
   }





   .portfolio-content{
    padding-top: 0;
    padding-left: calc(30px + (135 - 30) * ((100vw - 375px) / (1440 - 375)));
    padding-right: calc(30px + (135 - 30) * ((100vw - 375px) / (1440 - 375)));
   }

   .portfolio__info{
    column-gap: 30px;
    height: auto;
    .portfolio_title{
        height: auto;
    }
   }

   .slider-portfolio-wrapper{
    top: 250px;
    margin-top: 0;
   }


   .clients-content{
    padding-left: calc(30px + (135 - 30) * ((100vw - 375px) / (1440 - 375)));
    padding-right: calc(30px + (135 - 30) * ((100vw - 375px) / (1440 - 375)));
   }

   .footer_content{
    padding-left: calc(30px + (135 - 30) * ((100vw - 992px) / (1440 - 992)));
    padding-right: calc(30px + (135 - 30) * ((100vw - 992px) / (1440 - 992)));
   }
   .footer__contacts{
    margin-left:calc(70px + (90 - 70) * ((100vw - 1280px) / (1440 - 1280))); 
   }
   .footer__form-wrapper{
    padding-left:calc(40px + (90 - 40) * ((100vw - 992px) / (1440 - 992))); 
   }


   .clients_title{
    font-size: calc(28px + (45 - 28) * ((100vw - 375px) / (1440 - 375))); 
}


.clients_title::after{
    right:calc(-4px + (15 - (-4)) * ((100vw - 1280px) / (1440 - 1280))); 
    width:calc(80px + (100 - 80) * ((100vw - 1280px) / (1440 - 1280))); 
}
}




@media (max-width: 1400px){

    .promo{
        .promo-info{
            width: calc(319px + (500 - 319) * ((100vw - 375px) / (1400 - 375))); 
            .promo-info__title{
                    width: 100%; 
                 .text-end{
                    &::before{
                        width:calc(125px + (148 - 125) * ((100vw - 992px) / (1400 - 992)));
                        left: calc(21px + (52 - 21) * ((100vw - 375px) / (1400 - 375)));
                        top: calc(70px + (122 - 70) * ((100vw - 375px) / (1400 - 375)));
                    }
                       
                    
                }
            } 

          .promo-info__subtitle{
            width: 100%;
            .promo-info__subtitle-text{
                &:first-child{
                    flex-grow: 0;
                    flex-shrink: 3;
                }
                &:last-child{
                    flex-grow: 2;
                    flex-shrink: 0;
                }
            }
          }
        } 
    }


    .tabs{
        .tabs-button{
            left: 50px;
        }
    } 

    .tabs-content__plug{
        left: 125px;
    }
    .tabs-content{
        left: 120px;
    }

    .galary{
        padding-left: calc(30px + (100 - 30) * ((100vw - 375px) / (1400 - 375)));
        padding-right: calc(30px + (100 - 30) * ((100vw - 375px) / (1400 - 375)));
    }
    .galary-items{
        padding-left: 0;
        padding-right: 0;
    }



    .application-content{
        padding-left: calc(28px + (135 - 28) * ((100vw - 375px) / (1400 - 375)));
        padding-right: calc(28px + (135 - 28) * ((100vw - 375px) / (1400 - 375)));
    }
    .application-content__promo{
        
        padding-right: calc(20px + (95 - 20) * ((100vw - 992px) / (1400 - 992)));
    }
    .footer{
        height: auto;
       }
}



@media (max-width: 1280px){
    .header-menu{
        .menu .menu__link{
            margin-left:calc(10px + (20 - 10) * ((100vw - 992px) / (1280 - 992)));
            margin-right:calc(10px + (20 - 10) * ((100vw - 992px) / (1280 - 992)));
        }
    } 
    .header{
        padding-left:calc(35px + (45 - 35) * ((100vw - 992px) / (1280 - 992)));
        padding-right:calc(35px + (45 - 35) * ((100vw - 992px) / (1280 - 992)));
        position: fixed;
    }

    
    .header-logo{
        width: calc(160px + (196 - 160) * ((100vw - 992px) / (1280 - 992)));
    }

    .header-contact{
        .contact-button__wrapper{
            .contact__button{
                width: calc(170px + (190 - 170) * ((100vw - 992px) / (1280 - 992)));
                &::after{
                    width: calc(170px + (190 - 170) * ((100vw - 992px) / (1280 - 992)));  
                }
            }
        } 
    } 

    .air-purification-form-wrapper{
        padding-right:calc(28px + (135 - 28) * ((100vw - 320px) / (1280 - 320))); 
    }


    .galary-items{
        justify-content: flex-start;
        column-gap:calc(35px + (35 - 35) * ((100vw - 992px) / (1280 - 992)));
    }

    .galary{
        padding-left: calc(30px + (200 - 30) * ((100vw - 767px) / (1280 - 767)));
        padding-right: calc(30px + (100 - 30) * ((100vw - 767px) / (1400 - 767)));
    }

    .air-purification__info{
        flex-direction: column;
    }
    .air-purification_title{
        margin-bottom: 30px;
    }
    .air-purification_title::after{
            right: 0;
            top: calc(22px + (33 - 22) * ((100vw - 375px) / (1280 - 375)));
            width: calc(62px + (100 - 62) * ((100vw - 375px) / (1280 - 375)));
            left: calc(245px + (355 - 245) * ((100vw - 375px) / (1280 - 375)));
    }
    .air-purification-title{
        padding-left: calc(28px + (135 - 28) * ((100vw - 375px) / (1280 - 375)));
        padding-right: calc(28px + (135 - 28) * ((100vw - 375px) / (1280 - 375)));
    }
    .aboutus-peculiarities-wrapper {
        .aboutus-peculiarities-card{
            width: 100%;
            height: auto;
        }
        .aboutus-peculiarities__text{
            padding-left:calc(25px + (50 - 25) * ((100vw - 375px) / (1280 - 375)));
            padding-right:calc(25px + (30 - 25) * ((100vw - 375px) / (1280 - 375)));
        }
        .aboutus-peculiarities__title{
            padding-left: calc(25px + (50 - 25) * ((100vw - 375px) / (1280 - 375)));
            span{
               font-size: calc(18px + (21 - 18) * ((100vw - 375px) / (1280 - 375)));
               
            }
        }
    }
    .aboutus__info{
        padding-left:calc(28px + (135 - 28) * ((100vw - 375px) / (1280 - 375)));
        padding-right:calc(28px + (135 - 28) * ((100vw - 375px) / (1280 - 375)));
    }
    .aboutus-experience-wrapper{
        padding-left: 15px;
    }
    .application-library__container{
        // align-items: start;
        grid-auto-rows:minmax(50px, 250px)
    }
    .application-library__item{
        width: 150px;
    }
    .application-library {
        .item__2{
            padding-top: 0;
        }
        .item__4{
            padding-top: 0;
        }
    }
    .application-content__promo{
        padding-top: 70px;
    }
    .application-library{
        padding-top: 70px;
    }


    
   .slider-portfolio-wrapper{
    top: calc(270px + (250 - 270) * ((100vw - 767px) / (1280 - 767)));
   }

   .slider-portfolio-buttons{
    margin-top:30px;
   }

   .clients_title{
   &::after{
    display: none;
   }
}



   .footer__info{
    width: 319px;
   }

   .footer_content{
    justify-content:center;
   }
   .clients_info{
    width: 100%;
   }

   .clients-content{
    flex-direction: column;
    height: auto;
    padding-bottom: 0;
   }

   .clients_slider-wrapper{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: start;
   }

   .clients--slider-wrapper{
    width:100%;
   }
   
}

@media (max-width: 992px){

    .promo{
        padding-left:calc(0px + (135 - 0) * ((100vw - 375px) / (992 - 375))); 
        padding-right: calc(0px + (135 - 0) * ((100vw - 375px) / (992 - 375))); 
        flex-direction: column;
        .promo-info{
            left: 0;
            position: relative;
            width: 100%;
            margin-bottom: calc(296px + (400 - 296) * ((100vw - 375px) / (992 - 375))); 
            
            .promo-info__title {
                padding-left: calc(20px + (145 - 20) * ((100vw - 375px) / (992 - 375))); 
                padding-right: calc(30px + (145 - 30) * ((100vw - 375px) / (992 - 375))); 
                .promo-info__title-text{

                }
                .text-end{
                    text-align: end;
                    &::before{
                        left: calc(60px + (190 - 60) * ((100vw - 375px) / (992 - 375)));
                    }
                }
            }
        }

    }
    .promo-page{
        height: 992px;
        height: calc(900px + (1300 - 900) * ((100vw - 375px) / (992 - 375)));
        background: linear-gradient(270deg,#f1f1f1 0,#f0f2f1 16.25%,#ebedec 43.26%,#e6e8e7 72.5%,#dee2e1 100%);
        
    }

    .promo-image{
        position: absolute;
        top: 600px;
        // right: 50px;
        // left: 0;
        right: calc(-50px + (-100 - (-50)) * ((100vw - 375px) / (992 - 375)));
        width: calc(500px + (1200 - 500) * ((100vw - 375px) / (992 - 375)));
        height: calc(400px + (1000 - 400) * ((100vw - 375px) / (992 - 375)));
        img{
            transform: rotate(90deg);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    } 

    .promo{
        .promo-info__subtitle-button{
            width: calc(290px + (800 - 290) * ((100vw - 320px) / (992 - 320)));
            padding-left: 20px;
            padding-right: 20px;
            margin: 0 auto;
             .subtitle-button{
                width: 100%;
             }
            }
        }
    
        .promo {
            .promo-info__subtitle-contact{
                padding-left: calc(20px + (90 - 20) * ((100vw - 375px) / (992 - 375))); 
                padding-right: calc(30px + (90 - 30) * ((100vw - 375px) / (992 - 375))); 
            }
        }





    .air-purification__form{
        flex-direction: column;
        align-items: center;
    }
    .tabs .tabs-button{
        transform: rotate(90deg);
        left: calc(15px + (709 - 15) * ((100vw - 320px) / (992 - 320))); 
        top: -183px;
    }
    .conditioning__img{
        img{
            left: 0px;
        }
    }

    .air-purification-form-wrapper{
        .input-text{
            width: 100%;
        }
    }
    .services-page__body{
        flex-direction: column;
        .services-page__info{
            padding-right: calc(28px + (30 - 28) * ((100vw - 320px) / (992 - 320)));
            width: 100%;
          .services-page__text{
            width: 100%;
          }
           
        }
        .services-page__example{
            width: 100%;
        }
    }



    .under-key__title{
        width: 100%;
    }


    .galary-items{
        justify-content: center;
        
    }

    .icon__implementation::after{
        left: 95px;
        
       }

       .application-library{
        display: none;
       }
       .application-content__button{
        width: 100%;
        &::after{
            width: 100%;
        }
       }


       .scheme-work__content{
        margin-top: 0;
       } 
       .scheme-work__items{
        display: block;
       }
       
        .scheme-work__item{
            .scheme-work__item-title{
                font-size: calc(24px + (35 - 24) * ((100vw - 375px) / (992 - 375)));
            }
            &::after{
                display: none;
            }
            
           }
           
            .scheme-work__item{
            margin-bottom: 60px;
            
        }
            .scheme-work{
            .item1{
                img{
                    right: 0;
                    top:calc(37px + (-10 - 37) * ((100vw - 375px) / (992 - 375)));
                }
            }
            .item2{
                img{
                    left: 0;
                    top:calc(59px + (-30 - 59) * ((100vw - 375px) / (992 - 375)));
                }
            }
            .item3{
                img{
                    right: 17px;
                    top:calc(75px + (-60 - 75) * ((100vw - 375px) / (992 - 375)));
                }
                
            }
            .item4{
                img{
                    left: 0;
                    top:calc(80px + (-40 - 80) * ((100vw - 375px) / (992 - 375)));
                }
            }
            .item5{
                img{
                    right: 0;
                    top:calc(31px + (-30 - 31) * ((100vw - 375px) / (992 - 375)));
                }
            }
            .item6{
                img{
                    left: 0;
                }
                
            }
            img{
                width: calc(140px + (250 - 140) * ((100vw - 375px) / (992 - 375)));
           }
        }
              
           .scheme-work__content{
            padding-left:calc(25px + (135 - 25) * ((100vw - 375px) / (992 - 375))); 
            padding-right: calc(25px + (135 - 25) * ((100vw - 375px) / (992 - 375))); 
           }
           .scheme-work__item {
            .scheme-work__item-text{

            }
           }

           .scheme-work__act{
             .scheme-work__act__title{
                font-size: calc(24px + (35 - 24) * ((100vw - 375px) / (992 - 375)));
                text-align: center;
                width: calc(300px + (400 - 300) * ((100vw - 375px) / (992 - 375)));
             }
            margin-top: calc(10px + (150 - 10) * ((100vw - 375px) / (992 - 375)));
            img{
                width: calc(264px + (400 - 264) * ((100vw - 320px) / (992 - 320)));
            } 
           }

           
           .clients--slider-wrapper{
            top: 35px;
           }

           

           .footer_content{
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;
           }


           .footer__contacts{
            margin-left: 0;
            padding-top: 30px;
           }
           .footer__form-wrapper{
            padding-left:0;
            padding-top: 30px;
           }


           .clients_slider-wrapper{
            height: 300px;
            width: 100%;
           }


           
}
@media (max-width: 767px){
    .promo {
        .promo-info__subtitle-contact{
        flex-direction: column;
        align-items: center;
        padding-left: calc(30px + (150 - 30) * ((100vw - 320px) / (992 - 320)));
        .promo-info__geo{
            width: 100%;
            &::before{
                width: 20px;
                height: 20px;
                top: 0;
                left: -25px;
            }
        }
        .promo-info__telephone{
            width: 100%;
            display: flex;
            column-gap: calc(20px + (150 - 20) * ((100vw - 320px) / (992 - 320)));
            &::before{
                width: 20px;
                height: 20px;
                top: 0;
                left: -25px;
            }
        }
        }
    }

    .clients--slider-wrapper{
        .cleints-sleder_item {
            .cleints-sleder_item-image{
                padding-left: 10px;
                padding-right: 10px;
            }
        }


    } 



    .services-page__example{
        height: calc(1000px + (1050 - 1000) * ((100vw - 320px) / (992 - 320)));
    }

    .tabs{  
        height: auto;
        .tabs-content{
            left: 0;
            top: 0;
            flex-direction: column;
            padding-top: 90px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 0;
            width: 100%;
            border-bottom-right-radius: 65px 65px;
            border-top-right-radius: 65px 65px;
            .item-text{
                padding: 15px;
            }
            .tabs-content__text{
                width: 100%;
                padding-left: calc(80px + (100 - 80) * ((100vw - 320px) / (767 - 320)));
                height: auto;
                margin-bottom: 20px;
            }
            .tabs-content__img{
                position: relative;
                left: 0;
                width: calc(290px + (738 - 290) * ((100vw - 320px) / (767 - 320)));
                height: calc(150px + (500 - 150) * ((100vw - 320px) / (767 - 320)));
                margin-bottom: 15px;
                border-bottom-right-radius: 65px 65px;
                border-top-right-radius: 65px 65px;
                
                img{
                    width: 100%;
                    left: 0;
                }
            } 
        }
        .tabs-content__plug{
            left: 0;
            top: 0; 
            border-bottom-right-radius: 65px 65px;
            border-top-right-radius: 65px 65px;
            width: 100%;
            height: calc(925px - (50 - 29) * ((100vw - 375px) / (767 - 375)));
        }
        .tabs-button{
            background: none; 
            height:calc(316px + (400 - 316) * ((100vw - 375px) / (767 - 375)));  
            // height: 316px;
            top: calc(-102px + (-159 - -102) * ((100vw - 320px) / (767 - 320)));  
            left: calc(116px + (339 - 116) * ((100vw - 320px) / (767 - 320)));     

            .tabs-button__item{
             width: calc(158px + (233 - 158) * ((100vw - 320px) / (767 - 320))); 
            // width: 233px;
             padding-left: calc(20px + (53 - 20) * ((100vw - 375px) / (767 - 375))); 
             font-size: 12px;
             padding-right: 0;
             &::before{
                 content: none;
             }
            }
         }
    }



    .air-purification__icons{
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 375px;
        margin:  0 auto;
        margin-bottom: 70px;
    }
    .icon__wish{
        left: -50px;
    }
    .icon__application{
        right: -50px;
    }
    .icon__implementation{
        left: -50px;
    }

    .icon__wish::before{
        background: url(../icons/air-purification/767/Vector1.png) 50% 50%/contain no-repeat;
        height: 120px;
        left: -120px;
        left: calc(-142px + (-159 - (-142)) * ((100vw - 375px) / (767 - 375)));
        top: -82px;
        width: calc(180px + (205 - 180) * ((100vw - 375px) / (767 - 375)));
        }
    .icon__wish::after{
        height: 120px;
        background: url(../icons/air-purification/767/Vector2.png) 50% 50%/contain no-repeat;
        top: 57px;
        left: 71px;
        left: calc(66px + (71 - 66) * ((100vw - 375px) / (767 - 375)));
        width: calc(180px + (205 - 180) * ((100vw - 375px) / (767 - 375)));
    
     }
    .icon__implementation::before{
        background: url(../icons/air-purification/767/Vector3.png) 50% 50%/contain no-repeat;
        height: 120px;
        right:calc(11px + (-19 - 11) * ((100vw - 375px) / (767 - 375)));
        top: -110px;
    }
    .icon__implementation::after{
        background: url(../icons/air-purification/767/Vector4.png) 50% 50%/contain no-repeat;
        height: 120px;
        left: 109px;
        top: 25px;
        width: calc(160px + (180 - 160) * ((100vw - 375px) / (767 - 375)));
    }

    .air-purification__profit{
        padding-left: 32px;
        
    }
    .aboutus-peculiarities-wrapper{
        margin-bottom: 30px;
        .aboutus-peculiarities__title{
            padding-right: calc(25px + (118 - 25) * ((100vw - 375px) / (767 - 375)));
        }
    }
    .aboutus-wrapper{
        flex-direction: column;
    }


    

    .aboutus-experience-wrapper{
        justify-content: center;
        padding-left: 0;
        .aboutus-experience__item{
            width: auto;
            margin: 0 0 30px 0;
            .dec-bg{
                left: auto;
            }
            &:nth-child(2n){
                padding-left: calc(80px + (200 - 80) * ((100vw - 375px) / (767 - 375)));
            }
            &:nth-child(2n+1){
                padding-right: calc(80px + (200 - 80) * ((100vw - 375px) / (767 - 375)));
            }
        }
    }

    .scheme-work__item{
        margin-bottom: 30px;
        
    }


    .portfolio__info{
        flex-direction: column;
        row-gap: 30px;
         .portfolio_title{
            width: 100%;
         }
        
       }


       .portfolio{
        height: 960px;
       }



       .slider-portfolio-wrapper{
        top: calc(380px + (270 - 380) * ((100vw - 375px) / (767 - 375)));
        // left: -40px;
       }
       .slider-portfolio-buttons{
        margin-top: calc(530px + (624 - 530) * ((100vw - 375px) / (767 - 375)));
        .slider-portfolio-buttons__items{
            justify-content: center;
        }
       }
       .active-item{
        width: calc(319px + (500 - 319) * ((100vw - 375px) / (767 - 375)));
       }
       .portfolio_title{
        line-height: 40px;
       }
       
       .slider-portfolio__item-body{
        width: 319px;
       }
       .active-item{
        width: 319px;
       }

       .slider-portfolio__item_subtitle{
        bottom: 30px;
       }

       .footer-form{
        .input_button{
            width: 100%;
            &::after{
                width: 100%;
            }
        }
       }
}

@media (max-width: 550px){
    .promo{ 
        .promo-info{
            .promo-info__title {
                // padding-left: 0; 
                .promo-info__title-text{

                }
                .text-end{
        
                    &::before{

                    }
                }
            }
        }

    }
    .scheme-work__item{
        margin-bottom: 20px;
        
    }
    .slider-portfolio-wrapper{
        left: 10px;
    }

    .slider-portfolio-items{
        column-gap: 10px;
    }

}


@media (max-width: 400px){
    .slider-portfolio-wrapper{
        left: 0;
    }
    .slider-portfolio-items{
        column-gap: 10px;
    }
    .slider-portfolio__item-body{
        width: 375px;
    }
}
@media (max-width: 400px){
   
    .slider-portfolio-items{
        column-gap: 0px;
    }
   
}
