
.portfolio {
    overflow: hidden;
    background: #797979;
   

    &_body {
        max-width:1440px;
        margin: 0 auto;
    }
}
// .portfolio-content {
//     padding: 100px 135px 0 135px;
//     display: flex;
//     height: 500px;
// }


// .portfolio__info{
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
// }
// .portfolio_title{
//     width: 400px;
//     height: 130px;
//     line-height: 60px;
    
// }
// .portfolio_text{
//     font-family: 'Roboto', sans-serif;
//     color: #848484;
//     max-width: 640px;

// }




.slider-portfolio-items{
    display: flex;
    flex:1 1 auto;
    align-items: stretch;
    height: 456px;
    min-width: 0;
    
}
.slider-portfolio {
    &__item-body{
        display: inline-block;
        width: 270px;
        transition: 0.4s ease-in all;
    }
    &__item {
        position: relative;
        overflow: hidden; 
        border-radius: 35px;
        
        
        
        &_logo {
            position: absolute;
            width: 164px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #D9FADD;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            top: 35px;
            img{
                width: 94px;
                height: 30px;
            }
        }

        &_title {
            position: absolute;
            font-family: 'Kanit', sans-serif;
            font-size: 1.6em;
            font-weight: 500;
            color: #fff;
            bottom: 80px;
            left: 40px;
            padding: 5px;
            line-height: 25px;
            text-transform: uppercase;
        }

        &_subtitle {
            position: absolute;
            position: absolute;
            font-family: 'Roboto', sans-serif;
            font-size: 0.9em;
            font-weight: 300;
            color: #fff;
            bottom: 45px;
            left: 40px;
            padding: 5px;
            opacity: 0;
            transition: .1s ease-in;
        }

        &_backg {
        }
    }
    &__image {
        min-height: 100%;
        max-width: 500px;
        min-width: 500px;
        cursor: pointer;
    }

    
}

// .slider-portfolio__item-body:hover{
//        width: 500px;
//        .slider-portfolio__item_subtitle{
//         opacity: 1;
//         transition: 1.8s ease-in;
//        }
// }
.slide-active{
   

}
.slider-portfolio-wrapper {
}
.slider-portfolio-body {
}
.slider-portfolio-buttons {
    padding: 10px;
    margin-bottom: 25px;
    .slider-portfolio-buttons__items{

        display: flex;
        column-gap:25px;
    .slider-portfolio__prev{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        span{
            display: inline-block;
            height: 3px;
            width: 15px;
            border-radius: 40px;
            position: absolute;
            top:16px;
            left: 7px;

            &:first-child{
                transform: translateX(4.2px) rotate(-40deg) translateY(-6px);
            }
            &:last-child{
                transform: translateX(4px) rotate(40deg) translateY(4.8px);
            }
        }

    }
    .slider-portfolio__next{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transform: rotate(-180deg);
        span{
            display: inline-block;
            height: 3px;
            width: 15px;
            border-radius: 40px;
            position: absolute;
            top:16px;
            left: 7px;
            

            &:first-child{
                transform: translateX(4.2px) rotate(-40deg) translateY(-6px);
            }
            &:last-child{
                transform: translateX(4px) rotate(40deg) translateY(4.8px);
            }
        }

    }
    }
    .slider-portfolio-buttons__item{
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;
        width: 34px;
        height: 34px;
        box-shadow: 0px 0px 0px 5px #ffffff69;
        cursor: pointer;
        transition: .1s ease all;
    }
    .nonactive{
        span{
            background: #D9FADD;
        }
    }
    .active{
        background: #5CCD6A;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.363) inset;
        &:hover{
            background: #58d667;
        }
        span{
            background: #ffffff;
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 5px #78c08254;
        
        }
    }
}


.slider-portfolio-items {
}
.swiper-slide-active{
    width: 500px;
    .slider-portfolio__item_subtitle{
     opacity: 1;
     transition: 1.8s ease-in;
    }
}

.swiper {
    width: 100%;
    height: 456px;
  }