.scheme-work {
    &__body {
        max-width:1440px;
        margin: 0 auto;
        position: relative;
    }

    &__content {
        padding: 0px 135px 100px 135px;
        margin: 100px 0 0 0;
        height: auto;
    }

    &__title {
    }
    &__wrapper-scheme{}
    &__scheme{}
    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(380px, 300px);
        grid-column-gap: 10px;
        
    }
    &__item{
        position: relative;
        padding: 30px;
        

        
        .scheme-work__item-title{
            font-family: 'Kanit', sans-serif;
            font-size: 2.1em;
            color: #78C081;
            position: relative;
            z-index: 2;
            
        }
        .scheme-work__item-text{
            font-family: 'Roboto', sans-serif;
            font-size: 1em;
            color: #495E4C;
            position: relative;
            z-index: 2;
            margin-top: 15px;
        }
        &:nth-child(2n){
            align-self: end;
        }
    }
    .end{
        text-align: end;
    }

    .item1{
        position: relative;
        img{
            position: absolute;
            top: -30px;
            right: 150px;
            z-index: 1;
        }
        &::after{
            content:'';
            background: url(../icons/scheme-work/Vector1.svg)50% 50%/cover no-repeat;     
            width: calc(100% - 50px);
            height: 80px;
            position: absolute;
            top: 140px;
            left: 150px;
        }
    }
    .item2{
        position: relative;
        img{
            position: absolute;
            top: -30px;
            left: 100px;
            z-index: 1;
        }
        &::after{
            content:'';
            background: url(../icons/scheme-work/Vector2.svg)50% 50%/cover no-repeat;     
            width: calc(100% - 100px);
            height: 80px;
            position: absolute;
            top: 200px;
            left: -215px;
        }
    }
    .item3{
        position: relative;
        img{
            position: absolute;
            top: -60px;
            right: 100px;
            z-index: 1;
        }

        &::after{
            content:'';
            background: url(../icons/scheme-work/Vector3.svg)50% 50%/cover no-repeat;     
            width: calc(100% - 356px);
            height: 95px;
            position: absolute;
            top: 200px;
            left: 415px;
        }
    }
    .item4{
        position: relative;
        img{
            position: absolute;
            top: -40px;
            left: 90px;
            z-index: 1;
        }

        &::after{
            content:'';
            background: url(../icons/scheme-work/Vector4.svg)50% 50%/cover no-repeat;     
            width: calc(100% + 7px);
            height: 139px;
            position: absolute;
            top: 250px;
            left: -115px;
        }
    }
    .item5{
        position: relative;
        img{
            position: absolute;
            top: -30px;
            right: 80px;
            z-index: 1;
        }
        &::after{
            content:'';
            background: url(../icons/scheme-work/Vector5.svg)50% 50%/cover no-repeat;     
            width: calc(100% + 120px);
            height: 165px;
            position: absolute;
            top: 270px;
            left: 300px;
        }
    }
    .item6{
       
        img{
            position: absolute;
            top: 50px;
            left: 50px;
            z-index: 1;
        }
    }
}
.scheme-work__act{
    display: flex;
    justify-content: center;
    margin:150px 0 0 0 ;
    position: relative;
    .scheme-work__act__title{
            font-family: 'Kanit', sans-serif;
            font-size: 2.1em;
            color: #78C081;
            position: relative;
            z-index: 2;
    }
    img{
        position: absolute;
    }
}
