@import "reset.scss";
@import "promo.scss";
@import "services.scss";
@import "underKey.scss";
@import "air-purification.scss";
@import "aboutUs.scss";

// font-family: 'Kanit', sans-serif; |Ruberoid
// font-family: 'Roboto', sans-serif; |Proxima Nova

*{
    font-size: 16px;
}

.title{
    color:#495E4C;
    font-size: 2.8em;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
